* {
    box-sizing: border-box;
}

body {
    width: 100%;
}

.nav-item li {
    list-style-type: none !important;
}

.nav-item li:nth-child(1) {
    background-color: red;
    width: 2em;
    height: 2em;
    text-align: center;
    border-radius: 50%;
}

.nav-item a {
    color: var(--Main-color, #387ADF);
    font-family: Nunito;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    /* 130% */
}

.container_displaysetting>img {
    padding: 23px 0 23px 100px;
}

.home_setPdContent h1 {
    color: #387ADF;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
}

.textHome1 {
    color: #5C5C5C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
}

.textHome2 {
    color: #51B5EB;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 250% */
}

.textHome3 {
    color: #51B5EB;
    font-family: Nunito;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 250% */
}

/* css introduce text */
.frame_contentIntroduce h1 {
    color: #387ADF;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
}

.frame_contentIntroduce p {
    color: #5C5C5C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
}

.setting__MarginIntroduce--content ul {
    padding: 44px 0 0 70px !important;
}

.setting_pdTextIntroduce li {
    padding-top: 24px !important;
}

/* css Feature */

.setting_marginFeature {
    margin-top: 228px !important;
}

.frame_contentFeature {
    padding-top: 58px !important;
}

.frame_contentFeature h1 {
    color: #387ADF;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
}

.frame_contentFeature p {
    color: #5C5C5C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
}

.setting_list li {
    list-style-type: none !important;
    display: flex;
    column-gap: 20px;
    padding-top: 12px !important;
}

/* css Ex */
.setting__MarginEx {
    margin-top: 191px !important;
}

.setting__MarginEx--content {
    margin-top: 100px !important;
}

.setting__MarginEx--content {
    padding-left: 40px !important;
}

.frame_contentEx h1 {
    color: #387ADF;
    font-family: Nunito;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 80px;
    /* 125% */
}

.frame_contentEx p {
    color: #5C5C5C;
    font-family: Nunito;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    /* 125% */
}

.text-p-ex {
    padding-top: 5px;
}

.setting_pdTextListEx li {
    padding-top: 23px;
    list-style-type: none;
}

/* css newfeed */
.setting_marginFeedback {
    margin-top: 217px !important;
}


.setting__MarginContact {
    margin-top: 217px !important;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* responsive Home */
    .frame_imgHome {
        position: relative;
    }

    .imgPhoneHome {
        position: absolute;
        z-index: 2;
    }

    .bg_Home {
        position: absolute;
        z-index: 1;
        top: 0;
    }


    .dot_home-blue {
        position: absolute;
        left: 150px;
        top: 20px;
        z-index: 3;
    }

    .dot_home-bluefade {
        position: absolute;
        top: 690px;
        right: 350px;
        z-index: 3;
    }

    .dot_home-white {
        position: absolute;
        z-index: 3;
        top: 530px;
    }

    .multiply_home-blue {
        position: absolute;
        z-index: 3;
        left: 12px;
        top: 350px;
    }

    .multiply_home-bluefade {
        position: absolute;
        z-index: 3;
        top: 460px;
        right: 190px;
    }

    .multiply_home-white {
        position: absolute;
        z-index: 3;
        left: 250px;
        top: 260px;
    }

    .bg_Home img {
        width: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 990px) {
    .home_setPdContent {
        display: flex;
        flex-direction: column;
    }

    .frame_imgHome {
        padding: 140px 0 0 0;
    }

    /* responsive Home */
    .frame_imgHome {
        position: relative;
    }

    .imgPhoneHome {
        position: absolute;
        z-index: 2;
    }

    .bg_Home {
        position: absolute;
        z-index: 1;
        left: -12em;
        top: 0px;
    }


    .dot_home-blue {
        position: absolute;
        left: 150px;
        top: 200px;
        z-index: 3;
    }

    .dot_home-bluefade {
        position: absolute;
        top: 690px;
        right: 350px;
        z-index: 3;
    }

    .dot_home-white {
        position: absolute;
        z-index: 3;
        top: 530px;
    }

    .multiply_home-blue {
        position: absolute;
        z-index: 3;
        left: 12px;
        top: 350px;
    }

    .multiply_home-bluefade {
        position: absolute;
        z-index: 3;
        top: 460px;
        right: 190px;
    }

    .multiply_home-white {
        position: absolute;
        z-index: 3;
        left: 250px;
        top: 260px;
    }

    .bg_Home img {
        width: 100%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .home_setMargin {
        padding-top: 60px;
        padding-left: 100px !important;
    }

    .home_setPdContent {
        padding-top: 36px;
    }

    .textHome2 {
        padding: 71px 0 0 0;
    }

    /* responsive Home */

    .frame_imgHome {
        position: relative;
    }

    .imgPhoneHome {
        position: absolute;
        z-index: 2;
    }

    .bg_Home {
        position: absolute;
        z-index: 1;
        right: 0px;
        top: -90px;
    }


    .dot_home-blue {
        position: absolute;
        left: 220px;
        z-index: 3;
    }

    .dot_home-bluefade {
        position: absolute;
        top: 540px;
        right: 190px;
        z-index: 3;
    }

    .dot_home-white {
        position: absolute;
        z-index: 3;
        top: 430px;
    }

    .multiply_home-blue {
        position: absolute;
        z-index: 3;
        left: 12px;
        top: 320px;
    }

    .multiply_home-bluefade {
        position: absolute;
        z-index: 3;
        top: 460px;
        right: 90px;
    }

    .multiply_home-white {
        position: absolute;
        z-index: 3;
        left: 310px;
        top: 160px;
    }

    /* responsive Introduce */
    .imgPhoneintroduce {
        padding: 0 0 0 145px;
    }

    .setting__MarginIntroduce {
        margin: 144px;
    }

    .setting__MarginIntroduce--content {
        padding: 184px 0 0 50px !important;
    }

    .frame_imgIntroduce {
        position: relative;
    }

    .imgPhoneintroduce {
        position: absolute;
        top: 0;
        left: 52px;
    }

    .dot_introduce-blue1 {
        position: absolute;
        top: 140px;
        left: 140px;
    }

    .dot_introduce-blue2 {
        position: absolute;
        bottom: 280px;
        right: -20px;
    }

    .multiply_introduce-white1 {
        position: absolute;
        bottom: 380px;
        right: 20px;
    }

    .multiply_introduce-white2 {
        position: absolute;
        top: 340px;
        left: 200px;
    }

    .multiply_introduce-blue {
        position: absolute;
        top: 110px;
        right: 0px;
    }

    .multiply_introduce-bluefade {
        position: absolute;
        bottom: 140px;
        left: 120px;
    }

    /* responsive Feature */
    .frame_contentFeature {
        padding-left: 101px !important;
    }

    .frame_imgFeature {
        position: relative;
    }

    .imgPhoneFeature {
        position: absolute;
        z-index: 2;
    }

    .bg_feature {
        position: absolute;
        z-index: 1;
        top: -9em;
        right: 0;
    }

    .dot_feature-blue1 {
        position: absolute;
        top: 4em;
        right: 4em;
        z-index: 7;
    }

    .dot_feature-blue2 {
        position: absolute;
        top: 4em;
        left: -1em;
    }

    .dot_feature-blue3 {
        position: absolute;
        bottom: -1em;
        right: 4em;
    }

    .dot_feature-white1 {
        z-index: 3;
        position: absolute;
        top: -1em;
        right: 29em;
    }

    .dot_feature-white2 {
        position: absolute;
        top: -3em;
        right: 17em;
        z-index: 3;
    }

    .multiply_feature-bluefade {
        position: absolute;
        top: 0;
        left: 1em;
        z-index: 4;
    }

    .multiply_feature-blue {
        position: absolute;
        top: -3em;
        right: 6em;
        z-index: 4;
    }

    /* repsonsive ex */
    .frame_imgEx {
        position: relative;
        padding-left: 130px !important;
    }

    .imgPhoneEx {
        position: absolute;
        z-index: 2;
    }

    .bg_ex {
        position: absolute;
        z-index: 1;
        top: 0;
        left: -1em;
    }

    .dot_ex-blue1 {
        position: absolute;
        z-index: 2;
        top: 5em;
        left: 8em;
    }

    .dot_ex-blue2 {
        position: absolute;
        z-index: 2;
        top: 1em;
        right: 2em;
    }

    .dot_ex-blue3 {
        position: absolute;
        z-index: 2;
        bottom: 3em;
        right: 1em;
    }

    .dot_ex-white {
        position: absolute;
        z-index: 2;
        bottom: 17em;
        right: 2em;
    }

    .multiply_ex-white1 {
        position: absolute;
        z-index: 2;
        bottom: 26em;
        right: 1em;
    }

    .multiply_ex-white2 {
        position: absolute;
        z-index: 2;
        top: 30em;
        left: 8em;
    }

    .multiply_ex-blue {
        position: absolute;
        z-index: 2;
        bottom: 32em;
        right: -1em;
    }

    .multiply_ex-bluefade {
        position: absolute;
        z-index: 2;
        bottom: 5em;
        left: 8em;
    }

    /* responsive newfeed */
    .container__end--marign {
        margin-top: 217px;
    }

    .container_noneList {
        margin-top: 217px;
    }

    .container_noneList li {
        list-style-type: none;
    }

    .contactLinked li:nth-child(1) {
        color: var(--neutral-02, #444);
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 150% */
    }

    .contactSupport li:nth-child(1) {
        color: var(--neutral-02, #444);
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 150% */
    }

    .contactApp li:nth-child(1) {
        color: var(--neutral-02, #444);
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 150% */
    }

    .contactMe li:nth-child(1) {
        color: var(--neutral-02, #444);
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 150% */
    }

    .container__ketthuc h2 {
        color: var(--neutral-02, #444);
        font-family: Nunito;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 60px;
        /* 150% */
    }

    /* ****************************** */

}



/* ********************************* */